@model ScenesPhotography.Web.ViewModels.IndexViewModel

<hr class="my-0" />
<nav class="container py-4">
    <ul class="pagination justify-content-center my-4">
        @if (@Model.PageNumber > 1)
        {
            <li class="page-item"><a asp-action="Index" asp-controller="Blog" asp-route-pageNumber="@(Model.PageNumber - 1)" class="page-link" tabindex="-1" aria-disabled="true">Newer</a></li>
        }
        else
        {
            <li class="page-item disabled"><a asp-action="Index" asp-controller="Blog" asp-route-pageNumber="@(Model.PageNumber - 1)" class="page-link" tabindex="-1" aria-disabled="true">Newer</a></li>
        }

        @foreach (var p in Model.Pages)
        {
            if (p == -1)
            {
                <li class="page-item"><a class="page-link" href="#!">...</a></li>
            }
            else
            {
                string active = p == Model.PageNumber ? "page-item active" : "page-item";

                <li class="@active" aria-current="page"><a asp-action="Index" asp-controller="Blog" asp-route-pageNumber="@p" class="page-link">@p</a></li>
            }
        }

        @if (@Model.NextPage)
        {
            <li class="page-item"><a asp-action="Index" asp-controller="Blog" asp-route-pageNumber="@(Model.PageNumber + 1)" class="page-link">Older</a></li>
        }
        else
        {
            <li class="page-item disabled"><a asp-action="Index" asp-controller="Blog" asp-route-pageNumber="@(Model.PageNumber + 1)" class="page-link">Older</a></li>
        }
    </ul>
</nav>
